.header {
    display: grid;
    grid-column: auto;
    background-color: lightgrey;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 125%;
    border-left: solid 2px black;
    border-right: solid 2px black;
    text-align: center;
}
.header a:link, a:visited {
    text-decoration: none;
    color: black;
}

.name {
    grid-column: 1/2;
    display: inline;
    color: grey;
}

.welcome {
    grid-column: 2/3;
    color: blue;
}

.introduction {
    grid-column: 3/4;
    color: red;
}

.goals {
    grid-column: 4/5;
    color: green;
}

.gecs {
    grid-column: 5/6;
    color: purple;
}

.programOutcomeGoals {
    grid-column: 6/7;
    color: turquoise;
}

.active {
    border-bottom: 2px solid black;
}

body {
    background: linear-gradient(to left, lightgrey, grey, grey, grey, grey, lightgrey)
}

.title {
    text-align: center;
    padding: 2em;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 125%;
}

.bodyText {
    padding: 1em;
    margin-left: 20%;
    margin-right: 20%
}

.goalsChart {
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    display: grid;
    grid-column: auto;
    grid-gap: 1em;
    margin-top: 2em;
    margin-left: 15%;
    margin-right: 15%;
}

.longTermGoals {
    display: inline;
    grid-column: 1/2;
    border: 2px solid black;
    padding: 1em;
}

.shortTermGoals {
    display: inline;
    grid-column: 2/3;
    border: 2px solid black;
    padding: 1em;
}

.gecsGrid {
    display: grid;
    grid-column: auto;
    grid-row: auto;
    border: 2px solid black;
    grid-gap: 1em;
}

.writtenCommunication {
    grid-column: 1/2;
    grid-row: 1/2
}

.oralCommunication {
    grid-column: 1/2;
    grid-row: 2/3
}

.interculturalCompetence {
    grid-column: 1/2;
    grid-row: 3/4;
}

.technology {
    grid-column: 2/3;
    grid-row: 1/2
}

.analysisAndInterpretation {
    grid-column: 2/3;
    grid-row: 2/3
}

.problemSolving {
    grid-column: 2/3;
    grid-row: 3/4
}