.header {
    display: grid;
    grid-column: auto;
    background-color: lightgrey;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 125%;
    border-left: solid 2px black;
    border-right: solid 2px black;
    text-align: center;
}
.header a:link, a:visited {
    text-decoration: none;
    color: black;
}

.name {
    grid-column: 1/2;
    display: inline;
    color: grey;
}

.welcome {
    grid-column: 2/3;
    color: blue;
}

.introduction {
    grid-column: 3/4;
    color: red;
}

.goals {
    grid-column: 4/5;
    color: green;
}

.gecs {
    grid-column: 5/6;
    color: purple;
}

.programOutcomeGoals {
    grid-column: 6/7;
    color: turquoise;
}

body {
    background: linear-gradient(to left, lightgrey, grey, grey, grey, grey, lightgrey)
}

.title {
    text-align: center;
    padding: 2em;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 125%;
}

.bodyText {
    padding: 1em;
    margin-left: 20%;
    margin-right: 20%
}